/* Container centralizado */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f6fa;
}

/* Card do login */
.loginCard {
  background: white;
  padding: 60px 50px;
  /* maior padding */
  border-radius: 15px;
  /* um pouco mais arredondado */
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  width: 450px;
  /* maior largura */
  text-align: center;
}

/* Logo */
.logoWrapper {
  width: 180px;
  height: 180px;
  margin: 0 auto 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  border-radius: 50%;
}

/* Labels */
.label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

/* Inputs */
.input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

.input:focus {
  border-color: #f1c40f;
  box-shadow: 0 0 5px rgba(241, 196, 15, 0.5);
}

/* Botão */
.button {
  width: 100%;
  padding: 14px;
  background-color: #f1c40f;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #d4ac0d;
}