# =========================
# Node
# =========================
**/node_modules

# =========================
# Build outputs
# =========================
# NestJS / Backend
app-backend/dist/
# Next.js / Frontend
app-frontend/.next/
app-frontend/out/
app-frontend/build/
# Qualquer dist em qualquer pacote
**/dist

# =========================
# Prisma
# =========================
# Cliente gerado automaticamente (não precisa versionar)
**/.prisma
**/generated

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# Environment / Secrets
# =========================
**/.env*
*.pem

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
