/* [project]/src/components/sideBar/sideBar.module.css [app-client] (css) */
.sideBar-module__dvJtMW__sidebar {
  background-color: #f9fafb;
  border-right: 1px solid #e5e7eb;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
  display: flex;
}

.sideBar-module__dvJtMW__logoSection {
  border-bottom: 1px solid #000;
  padding: 16px;
}

.sideBar-module__dvJtMW__logoContainer {
  align-items: center;
  gap: 10px;
  display: flex;
}

.sideBar-module__dvJtMW__logo {
  width: 70px;
  height: 70px;
}

.sideBar-module__dvJtMW__logoIcon {
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  display: flex;
}

.sideBar-module__dvJtMW__logoText {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

.sideBar-module__dvJtMW__menuSection {
  flex: 1;
  padding: 16px 0;
}

.sideBar-module__dvJtMW__menuNav {
  padding: 0 12px;
}

.sideBar-module__dvJtMW__menuItem {
  text-align: left;
  color: #000;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 4px;
  padding: 10px 12px;
  font-size: 22px;
  transition: background-color .15s;
}

.sideBar-module__dvJtMW__menuItem:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #f2cc15;
}

.sideBar-module__dvJtMW__dashboardItem {
  background-color: #fff;
  border: 1px solid #f2cc15;
}

.sideBar-module__dvJtMW__dashboardItem:hover {
  background-color: #f9fafb;
}

.sideBar-module__dvJtMW__dropdownContainer {
  margin-bottom: 4px;
}

.sideBar-module__dvJtMW__dropdownTrigger {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.sideBar-module__dvJtMW__dropdownArrow {
  font-size: 22px;
  transition: transform .2s;
}

.sideBar-module__dvJtMW__dropdownArrow.sideBar-module__dvJtMW__open {
  transform: rotate(180deg);
}

.sideBar-module__dvJtMW__userSection {
  border-top: 1px solid #000;
  padding: 12px;
}

.sideBar-module__dvJtMW__userInfo {
  font-size: 14Fpx;
  color: #000;
  align-items: center;
  gap: 12px;
  margin-bottom: 4px;
  padding: 8px 12px;
  display: flex;
}

.sideBar-module__dvJtMW__userAvatar {
  background-color: #d1d5db;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 22px;
  display: flex;
}

.sideBar-module__dvJtMW__userName {
  font-size: 22px;
}

.sideBar-module__dvJtMW__logoutButton {
  color: #000;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 6px;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 12px;
  font-size: 22px;
  transition: background-color .15s;
  display: flex;
}

.sideBar-module__dvJtMW__logoutButton:hover {
  background-color: #e5e7eb;
}

.sideBar-module__dvJtMW__logoutIcon {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  display: flex;
}

/* [project]/src/app/home/home.module.css [app-client] (css) */
.home-module__gsEHRa__div {
  background-color: gray;
  display: flex;
}

/*# sourceMappingURL=src_36088b46._.css.map*/